<table border="1" cellpadding="40">
	<tr>
		<td data-n="0" data-x="0" data-y="0"></td>
		<td data-n="1" data-x="1" data-y="0"></td>
		<td data-n="2" data-x="2" data-y="0"></td>
	</tr>
	<tr>
		<td data-n="3" data-x="0" data-y="1"></td>
		<td data-n="4" data-x="1" data-y="1"></td>
		<td data-n="5" data-x="2" data-y="1"></td>
	</tr>
	<tr>
		<td data-n="6" data-x="0" data-y="2"></td>
		<td data-n="7" data-x="1" data-y="2"></td>
		<td data-n="8" data-x="2" data-y="2"></td>
	</tr>
</table>

<div id="message"></div>

<button id="save">Save Game</button>
<button id="previous">Show Previous Games</button>
<button id="clear">Clear Current Game</button>

<div id="games"></div>
